<!DOCTYPE html>
	<head>
		<title>{{title}}</title>
	</head>

	<body>
		<h1>Hello! This is a BeagleBone Black, located near Portland, Or, in the USA</h1>
		<h1> </h1>
		<h2>Current commands I know are:</h2>
		<h3>/date -> Get the current date and time here</h3>
		<h3> </h3>
		<h3>/temp -> Get the temperature in my living room.</h3>
		<h3> </h3>
		<h3>/red/[number between 0 and 100] -> Set the RED LED's brightness  </h3>
		<h3> </h3>
		<h3>/green/[number between 0 and 100] -> Set the GREEN LED's brightness  </h3>
		<h3> </h3>
		<h3>/blue/[number between 0 and 100] -> Set the BLUE LED's brightness  </h3>
		<h3> </h3>
		<h3>/white/[number between 0 and 100] -> Set the WHITE LED's brightness  </h3>
		<h3> </h3>
	</body>
</html>
